body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .pyro > .before, .pyro > .after {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
    -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  }
  .pyro > .after {
    -moz-animation-delay: 1.25s, 1.25s, 1.25s;
    -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
    -o-animation-delay: 1.25s, 1.25s, 1.25s;
    -ms-animation-delay: 1.25s, 1.25s, 1.25s;
    animation-delay: 1.25s, 1.25s, 1.25s;
    -moz-animation-duration: 1.25s, 1.25s, 6.25s;
    -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
    -o-animation-duration: 1.25s, 1.25s, 6.25s;
    -ms-animation-duration: 1.25s, 1.25s, 6.25s;
    animation-duration: 1.25s, 1.25s, 6.25s;
  }
  @-webkit-keyframes bang {
    to {
      box-shadow: -63px -255.6666666667px #6f0, -44px -241.6666666667px #ff00a2, -38px -236.6666666667px #ff00b7, -238px -260.6666666667px #0fc, 231px -294.6666666667px #00c4ff, 88px -5.6666666667px #0bf, -186px -393.6666666667px #00ff7b, 242px -196.6666666667px #fb00ff, 123px -354.6666666667px #ff00ae, 227px -243.6666666667px #0084ff, -170px -52.6666666667px #0f2, -9px -370.6666666667px #00ffbf, 77px 67.3333333333px #b700ff, 88px -302.6666666667px #ff00e1, -125px -296.6666666667px #00ff62, 135px -168.6666666667px #ff00a6, 60px -183.6666666667px yellow, 0px 15.3333333333px #ff3c00, 3px -346.6666666667px #007bff, -186px -381.6666666667px #f0b, -102px 60.3333333333px #ff00fb, -5px -95.6666666667px #f50, 161px -250.6666666667px #1eff00, 249px -297.6666666667px #2f00ff, -6px -151.6666666667px #1aff00, 214px -192.6666666667px #ff00f2, 200px -387.6666666667px #ffae00, -118px -195.6666666667px #af0, 126px 77.3333333333px #00e1ff, -81px -3.6666666667px #ffc400, 225px -18.6666666667px #002fff, -54px -60.6666666667px #73ff00, -150px -194.6666666667px #d0f, 189px -43.6666666667px #f200ff, 224px -164.6666666667px #1f0, -163px -76.6666666667px #9d00ff, 100px -298.6666666667px #ff00f7, -247px 49.3333333333px #ff0004, 42px 30.3333333333px #00aeff, -22px 72.3333333333px #fbff00, 172px -389.6666666667px #f20, -107px 34.3333333333px #ff006a, 242px -56.6666666667px #006fff, 227px -415.6666666667px #00ff6a, 33px -76.6666666667px #2600ff, -191px -411.6666666667px #ff6200, 38px -299.6666666667px #7bff00, -73px -371.6666666667px #00b7ff, -16px -356.6666666667px #0400ff, -59px -186.6666666667px #00d0ff, -202px -311.6666666667px #6f00ff;
    }
  }
  @-moz-keyframes bang {
    to {
      box-shadow: -63px -255.6666666667px #6f0, -44px -241.6666666667px #ff00a2, -38px -236.6666666667px #ff00b7, -238px -260.6666666667px #0fc, 231px -294.6666666667px #00c4ff, 88px -5.6666666667px #0bf, -186px -393.6666666667px #00ff7b, 242px -196.6666666667px #fb00ff, 123px -354.6666666667px #ff00ae, 227px -243.6666666667px #0084ff, -170px -52.6666666667px #0f2, -9px -370.6666666667px #00ffbf, 77px 67.3333333333px #b700ff, 88px -302.6666666667px #ff00e1, -125px -296.6666666667px #00ff62, 135px -168.6666666667px #ff00a6, 60px -183.6666666667px yellow, 0px 15.3333333333px #ff3c00, 3px -346.6666666667px #007bff, -186px -381.6666666667px #f0b, -102px 60.3333333333px #ff00fb, -5px -95.6666666667px #f50, 161px -250.6666666667px #1eff00, 249px -297.6666666667px #2f00ff, -6px -151.6666666667px #1aff00, 214px -192.6666666667px #ff00f2, 200px -387.6666666667px #ffae00, -118px -195.6666666667px #af0, 126px 77.3333333333px #00e1ff, -81px -3.6666666667px #ffc400, 225px -18.6666666667px #002fff, -54px -60.6666666667px #73ff00, -150px -194.6666666667px #d0f, 189px -43.6666666667px #f200ff, 224px -164.6666666667px #1f0, -163px -76.6666666667px #9d00ff, 100px -298.6666666667px #ff00f7, -247px 49.3333333333px #ff0004, 42px 30.3333333333px #00aeff, -22px 72.3333333333px #fbff00, 172px -389.6666666667px #f20, -107px 34.3333333333px #ff006a, 242px -56.6666666667px #006fff, 227px -415.6666666667px #00ff6a, 33px -76.6666666667px #2600ff, -191px -411.6666666667px #ff6200, 38px -299.6666666667px #7bff00, -73px -371.6666666667px #00b7ff, -16px -356.6666666667px #0400ff, -59px -186.6666666667px #00d0ff, -202px -311.6666666667px #6f00ff;
    }
  }
  @-o-keyframes bang {
    to {
      box-shadow: -63px -255.6666666667px #6f0, -44px -241.6666666667px #ff00a2, -38px -236.6666666667px #ff00b7, -238px -260.6666666667px #0fc, 231px -294.6666666667px #00c4ff, 88px -5.6666666667px #0bf, -186px -393.6666666667px #00ff7b, 242px -196.6666666667px #fb00ff, 123px -354.6666666667px #ff00ae, 227px -243.6666666667px #0084ff, -170px -52.6666666667px #0f2, -9px -370.6666666667px #00ffbf, 77px 67.3333333333px #b700ff, 88px -302.6666666667px #ff00e1, -125px -296.6666666667px #00ff62, 135px -168.6666666667px #ff00a6, 60px -183.6666666667px yellow, 0px 15.3333333333px #ff3c00, 3px -346.6666666667px #007bff, -186px -381.6666666667px #f0b, -102px 60.3333333333px #ff00fb, -5px -95.6666666667px #f50, 161px -250.6666666667px #1eff00, 249px -297.6666666667px #2f00ff, -6px -151.6666666667px #1aff00, 214px -192.6666666667px #ff00f2, 200px -387.6666666667px #ffae00, -118px -195.6666666667px #af0, 126px 77.3333333333px #00e1ff, -81px -3.6666666667px #ffc400, 225px -18.6666666667px #002fff, -54px -60.6666666667px #73ff00, -150px -194.6666666667px #d0f, 189px -43.6666666667px #f200ff, 224px -164.6666666667px #1f0, -163px -76.6666666667px #9d00ff, 100px -298.6666666667px #ff00f7, -247px 49.3333333333px #ff0004, 42px 30.3333333333px #00aeff, -22px 72.3333333333px #fbff00, 172px -389.6666666667px #f20, -107px 34.3333333333px #ff006a, 242px -56.6666666667px #006fff, 227px -415.6666666667px #00ff6a, 33px -76.6666666667px #2600ff, -191px -411.6666666667px #ff6200, 38px -299.6666666667px #7bff00, -73px -371.6666666667px #00b7ff, -16px -356.6666666667px #0400ff, -59px -186.6666666667px #00d0ff, -202px -311.6666666667px #6f00ff;
    }
  }
  @-ms-keyframes bang {
    to {
      box-shadow: -63px -255.6666666667px #6f0, -44px -241.6666666667px #ff00a2, -38px -236.6666666667px #ff00b7, -238px -260.6666666667px #0fc, 231px -294.6666666667px #00c4ff, 88px -5.6666666667px #0bf, -186px -393.6666666667px #00ff7b, 242px -196.6666666667px #fb00ff, 123px -354.6666666667px #ff00ae, 227px -243.6666666667px #0084ff, -170px -52.6666666667px #0f2, -9px -370.6666666667px #00ffbf, 77px 67.3333333333px #b700ff, 88px -302.6666666667px #ff00e1, -125px -296.6666666667px #00ff62, 135px -168.6666666667px #ff00a6, 60px -183.6666666667px yellow, 0px 15.3333333333px #ff3c00, 3px -346.6666666667px #007bff, -186px -381.6666666667px #f0b, -102px 60.3333333333px #ff00fb, -5px -95.6666666667px #f50, 161px -250.6666666667px #1eff00, 249px -297.6666666667px #2f00ff, -6px -151.6666666667px #1aff00, 214px -192.6666666667px #ff00f2, 200px -387.6666666667px #ffae00, -118px -195.6666666667px #af0, 126px 77.3333333333px #00e1ff, -81px -3.6666666667px #ffc400, 225px -18.6666666667px #002fff, -54px -60.6666666667px #73ff00, -150px -194.6666666667px #d0f, 189px -43.6666666667px #f200ff, 224px -164.6666666667px #1f0, -163px -76.6666666667px #9d00ff, 100px -298.6666666667px #ff00f7, -247px 49.3333333333px #ff0004, 42px 30.3333333333px #00aeff, -22px 72.3333333333px #fbff00, 172px -389.6666666667px #f20, -107px 34.3333333333px #ff006a, 242px -56.6666666667px #006fff, 227px -415.6666666667px #00ff6a, 33px -76.6666666667px #2600ff, -191px -411.6666666667px #ff6200, 38px -299.6666666667px #7bff00, -73px -371.6666666667px #00b7ff, -16px -356.6666666667px #0400ff, -59px -186.6666666667px #00d0ff, -202px -311.6666666667px #6f00ff;
    }
  }
  @keyframes bang {
    to {
      box-shadow: -63px -255.6666666667px #6f0, -44px -241.6666666667px #ff00a2, -38px -236.6666666667px #ff00b7, -238px -260.6666666667px #0fc, 231px -294.6666666667px #00c4ff, 88px -5.6666666667px #0bf, -186px -393.6666666667px #00ff7b, 242px -196.6666666667px #fb00ff, 123px -354.6666666667px #ff00ae, 227px -243.6666666667px #0084ff, -170px -52.6666666667px #0f2, -9px -370.6666666667px #00ffbf, 77px 67.3333333333px #b700ff, 88px -302.6666666667px #ff00e1, -125px -296.6666666667px #00ff62, 135px -168.6666666667px #ff00a6, 60px -183.6666666667px yellow, 0px 15.3333333333px #ff3c00, 3px -346.6666666667px #007bff, -186px -381.6666666667px #f0b, -102px 60.3333333333px #ff00fb, -5px -95.6666666667px #f50, 161px -250.6666666667px #1eff00, 249px -297.6666666667px #2f00ff, -6px -151.6666666667px #1aff00, 214px -192.6666666667px #ff00f2, 200px -387.6666666667px #ffae00, -118px -195.6666666667px #af0, 126px 77.3333333333px #00e1ff, -81px -3.6666666667px #ffc400, 225px -18.6666666667px #002fff, -54px -60.6666666667px #73ff00, -150px -194.6666666667px #d0f, 189px -43.6666666667px #f200ff, 224px -164.6666666667px #1f0, -163px -76.6666666667px #9d00ff, 100px -298.6666666667px #ff00f7, -247px 49.3333333333px #ff0004, 42px 30.3333333333px #00aeff, -22px 72.3333333333px #fbff00, 172px -389.6666666667px #f20, -107px 34.3333333333px #ff006a, 242px -56.6666666667px #006fff, 227px -415.6666666667px #00ff6a, 33px -76.6666666667px #2600ff, -191px -411.6666666667px #ff6200, 38px -299.6666666667px #7bff00, -73px -371.6666666667px #00b7ff, -16px -356.6666666667px #0400ff, -59px -186.6666666667px #00d0ff, -202px -311.6666666667px #6f00ff;
    }
  }
  @-webkit-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-moz-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-o-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-ms-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-webkit-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-moz-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-o-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-ms-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  .fadeOut {
    animation: 3s fadeOut;
    animation-fill-mode: forwards;
    visibility: hidden;
  }
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      visibility: visible;
      opacity: 0;
    }
  }
  